* {
    background-color: black;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.picture {
    width: 40%;
    float: left;
    /* box-shadow: 4px 4px 6px rgb(194, 148, 68);  */
}

.credit {
    color: white;
}

 .info {
    background-color: rgb(246, 241, 241);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }   

.banner {
    /* font-size: 1rem; */
    background-color: rgb(246, 241, 241);
    padding: 30px 10px 20px 10px;
    font-weight: bold;
}

.data {
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.sign {
    background-color: rgb(246, 241, 241);
    padding: 30px 10px 20px 10px;
}