* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: black;
    padding-top: 10vh;
}

.main {
    height: 78vh;
}

.left_pane {
    height: 78vh;
    position: relative;
    width: 40%;
    float: left;
    background-image: url(halie-west-bTzpau9mKT4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo_background {
    background-color: rgba(2, 2, 2, 0.448);
    width: 100%;
    height: 12vh;
    margin-top: 15vh;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12vh;
}

.logo {
    width: 8vh;
    height: auto;
}

.logo_name {
    color: white;
    font-size: 3rem;
    font-family: cursive, sans-serif;
}

.credit_container {
    display: flex;
    justify-content: center;
    bottom: 2vh;
}

a:link {
    color: white;
}

.credit {
    color: white;

    position: absolute;
    bottom: 8px;
    font-size: 0.5rem;
}


.right_pane {
    background-color: rgb(249, 248, 248);
    display: flex;
    flex-flow: column wrap;
    height: 85vh;
}

.banner {
    background-color: rgb(249, 248, 248);
    padding: 95px 20px 25px 20px;
    font-weight: bold;
    font-size: .9rem;
}

.data {
    background-color: white;
    padding: 8px 20px 15px 20px;
    box-shadow: 0 8px 6px -6px rgb(176, 173, 173);
}

.form {
    font-size: .6rem;
}

.name,
.contact,
.password_check {
    display: inline-block;
    padding-right: 20px;
    border-color: rgb(203, 200, 200);
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid rgb(90, 90, 236);
    background-color: rgba(177, 248, 224, 0.625);
    box-shadow: 0 8px 6px -6px rgb(176, 173, 173);
    ;
}

.form_submit {
    background-color: rgb(249, 248, 248);
    padding: 20px 20px 30px 20px;
    font-size: .8rem;
}

button {
    font-size: .6rem;
    padding: 7px 25px;
    background-color: rgb(85, 112, 85);
    color: white;
    border-radius: 5px;
    border-color: rgb(249, 248, 248);
}

footer {
    background-color: black;
    padding-bottom: 10vh;
}